<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="initials-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>

    <header>
      <h1><slot></slot></h1>
      <button>Menu</button>
    </header>
    Luego:
    <my-header>Shadow DOM</my-header>
    Render:
    <my-header>
      <header>
        <h1><slot>j</slot></h1>
        <button>Menu</button>
      </header>
    </my-header>
  </template>

  <script>
    /**
     * `initials-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InitialsElement extends Polymer.Element {
      static get is() { return 'initials-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'initials-element'
          }
        };
      }
    }

    window.customElements.define(InitialsElement.is, InitialsElement);
  </script>
</dom-module>
